.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  padding: 16px;

  max-width: 600px;
}
.Weather h1 {
  color: #878787;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  list-style: none;
  margin: 8px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .temperature {
  font-weight: bold;
  font-weight: 400;
  font-size: 64px;
  color: rgb(33, 33, 33);
}
.Weather canvas {
  width: 80px;
  margin-top: 10px;
  margin-right: 10px;
}
.Weather .col-6 {
  text-align: left;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
  margin-left: 0px;
}
